{{!-- Exemplo abaixo de como chamar uma action --}}

{{!-- <h1>Number: {{this.number}}</h1>
<button {{on "click" this.addNumber}}>Add</button> --}}

{{!-- LinkTo leva a um componente --}}
{{!-- @route leva pra rota de mesmo nome e o @model leva pro id da rota caso tenha --}}
<LinkTo @route="item" @model={{@product.id}} class="product">
  {{!-- forma de chamar componentes aninhados --}}
  {{!-- esse this.productImage vem do index que foi passado ao product  e no javascript
  do product foi definido o productImage --}}
  <Product::Image @src={{this.productImage}}/>
  <Product::Details
    @name={{@product.name}}
    @price={{@product.price}}
  />
</LinkTo>